  .svg-map {
    text-align: center;
  }
  .state{
        fill: none;
        stroke: #777;
        stroke-width: 1;
    }
    .state:hover{
        fill-opacity:0.5;
    }

    #statesvg {
        width: 960px; 
        height: 600px;
    }
    #tooltip {   
        position: absolute;           
        text-align: center;
        padding: 20px;             
        margin: 10px;
        font: 12px sans-serif;        
        background: lightsteelblue;   
        border: 1px;      
        border-radius: 2px;           
        pointer-events: none;         
    }
    #tooltip h4{
        margin:0;
        font-size:18px;
    }
    #tooltip p{
        line-height: .2em;
    }
    #tooltip{
        background:rgba(0,0,0,0.9);
        border:1px solid grey;
        border-radius:5px;
        font-size:12px;
        width:auto;
        padding:4px;
        color:white;
        opacity:0;
    }

    #tooltip div {
        display: inline-block; 
        width: auto; 
        padding: 10px;
    }

    #tooltip img {
        height: 65px; 
        width: 60px; 
    }
   


    h2 {
      text-align: center;
    }

    .result-card {
        position: absolute; 
        top: 20;
    }

 .yes {
    color: rgba(92, 184, 92, 0.9);
    font-weight: bold;
}

span.y { 
  background: rgba(92, 184, 92, 0.9);  
  color: #fff; 
  border-radius: 3px;
}

span.n { 
  background: rgba(231, 76, 60, 0.9);
  color: #fff; 
  border-radius: 3px;
}

@media only screen and (max-width: 700px) {
     #statesvg {
        width: 460px; 
        height: 300px;
    }

    #tooltip img {
        height: 35px; 
        width: 30px; 
    }
}